<head>
<style>
body {
  align-items: center;
  text-align: center;
  background-image: url("https://images.pexels.com/photos/5668473/pexels-photo-5668473.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
h1 {
    margin-top: 100px;
  color: yellow;
}

p {
    font-size: 30px;
}
</style>
</head>
<body>
<h1>Добро пожаловать!</h1>
<p>
До запуска аукциона осталось:
</p>
<p>
    <script src="//megatimer.ru/get/ba9739b886d4ebf6fd55b732e6991a9f.js"></script>
</p>
</body>