<% provide :page_title, 'New lot' %>
<% currently_at 'New lot' %>
<p id="notice"><%= notice %></p>
<%= render 'form', lot: @lot %>
<br/>
  <%= link_to 'Back', lots_path, class: 'btn btn-primary' %>
</div>